/* 滚动条加粗 */
::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

.col-lg-8.nopadding-x-md > .container.nopadding-x-md > #board {
  width: 130%;
  left: -30%; 
}

.tocbot-active-link {
  font-weight: bold;
  /*color var(--link-hover-color)*/
  color: #155c97;
  background: #72c1fa33;
  border-radius: 5px;
}
/* @media (max-width: 767px) {
  .col-lg-8.nopadding-x-md > .container.nopadding-x-md > #board {
      width: 100%;
      left: 0; 
  }
} */

/* @media (max-width: 424px) {
  .col-lg-8.nopadding-x-md > .container.nopadding-x-md > #board-ctn {
      width: 100%;
      left: 0; 
  }
} */



code {
  color: #FF7F00;
}

em {
  color: rgb(240, 128, 165);
}

.markdown-body strong {
  color: rgb(198, 71, 252);
}

.markdown-body blockquote {
  color: rgb(150, 150, 150);
  background-color: rgba(48,168,221, 0.1);
  border-left-color: #0868d9;
}

.markdown-body h1 {
  border-bottom: 0px;
}

.markdown-body h2 {
  border-bottom: 0px;
}
.markdown-body h3 {
  border-bottom: 0px;
}
.markdown-body h4 {
  border-bottom: 0px;
}


/* rgba(200, 200, 200, 0.1) */

/* em 是 斜体** */
/* strong是 高亮==x==*/
/* blockquote是引用 > */

/** color备选
lightcoral

rgb(220, 148, 156);

粉
rgb(238, 128, 240);
亮绿
#99FF33

rgb(67, 200, 71)

rgb(197, 63, 255)
**/
